.block-featured-list {
  &__container {
    flex: 1 1 100%;
  }
  &__header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 0.5rem;
  }
  &__title {
    margin-right: auto;
  }
}
